<blockquote>
  <div class="page-header">
    <h1>Payment</h1>
  </div>

  <p class="lead">A 30 year loan of $250000, with an annual interest rate of 4.1%, requires a monthly payment of $1208.00.</p>
</blockquote>
